#wphead {background:#592222}
#adminmenuback, #adminmenuwrap{ background-color:#333333; background: -moz-linear-gradient(center top , #414141, #323232) repeat-x scroll 0 0 #3A3A3A;
background: -webkit-gradient(linear, left top, left bottom, from(#414141), to(#323232)) repeat-x scroll 0 0 #3A3A3A;
border-bottom: 1px solid #000000; }
#adminmenushadow{display:none;}
#adminmenu li.wp-has-current-submenu .wp-menu-arrow, #adminmenu li.menu-top:hover .wp-menu-arrow, #adminmenu li.current .wp-menu-arrow, #adminmenu li.focused .wp-menu-arrow, #adminmenu li.menu-top.wp-has-submenu:hover .wp-menu-arrow div, #adminmenu .wp-menu-arrow div{display:none;}
#adminmenuback, #adminmenuwrap, #adminmenu, .folded #adminmenu{width: 99.99%; height: 65px; float:left;}
#adminmenuwrap ul li{ /*border: 1px solid red;*/ width: 145px; height: 60px; float:left; margin-left:10px; margin-right: 20px; text-align:center;}
.wp-menu-separator{display:none;}
.wp-first-item current menu-top menu-top-first menu-icon-dashboard menu-top-first menu-top-last menu-top-last{float:left;}
#adminmenu .wp-submenu ul {background:none; padding: 0;}
#adminmenu li.wp-menu-open {border: none;} 
#adminmenu .wp-submenu-wrap, #adminmenu .wp-submenu ul{ position:relative; float:left;  background:#FFFFFF;/*background:none; border: 1px solid red;*/}
#adminmenu .wp-submenu li{ height: 20px; padding-top: 5px; padding-bottom: 5px; text-align:left; float:left; display:block;}
#adminmenu .wp-submenu li a{ height: 20px; display:block;}
#adminmenu div.wp-menu-image{ margin-left: 55px; }
#adminmenu a.menu-top {border:none;}
#adminmenu li.menu-top:hover > a, #adminmenu li.menu-top.focused > a, #adminmenu li.menu-top > a:focus {background:none; text-shadow:none;}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {background:none;}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {color:#FF9900;}
a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {color:#636363;}
#adminmenu a:hover, #adminmenu li.menu-top > a:focus, #adminmenu ul.wp-submenu a:hover, #the-comment-list .comment a:hover, #rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover, .plugins .inactive a:hover, #all-plugins-table .plugins .inactive a:hover, #search-plugins-table .plugins .inactive a:hover { color:#888888; }
#contextual-help-link-wrap,#screen-meta-links .screen-meta-toggle, #screen-meta-links a.show-settings { display: none !important; }
/*.no-js #adminmenu .wp-has-current-submenu:hover .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu{ width: 400px; }*/
#adminmenu li .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{ overflow:visible; position:relative; left:20px;}
#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .wp-submenu .wp-submenu-head{float:left;}
.wp-menu-arrow{ display:none; }
#footer{background: -moz-linear-gradient(center top , #414141, #323232) repeat-x scroll 0 0 #3A3A3A; background: -webkit-gradient(linear, left top, left bottom, from(#414141), to(#323232)) repeat-x scroll 0 0 #3A3A3A;}
/*#footer-upgrade{background:#592222}*/
#collapse-menu{display:none; }
#wpbody{ position:static;}
#wpbody-content{ float:left; width: 99.99%; }
.wrap{margin: 54px 0 0 0;}
#wpcontent, #footer{ width: 99.99%; margin: 0; }
.folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .no-js #adminmenu .wp-has-submenu:hover .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu li.focused .wp-submenu{display: none;}
#wpadminbar{display:none;}
html.wp-toolbar{padding-top:0px !important;}  
#adminmenu .wp-has-current-submenu .wp-submenu-wrap{ box-shadow:2px 2px 5px rgba(0, 0, 0, 0.4); left:20px;}
#adminmenu #menu-posts-product div.wp-menu-image, #adminmenu #menu-posts-shop_order div.wp-menu-image, #adminmenu #menu-posts-shop_coupon 

/*for zurpay icons*/
div.wp-menu-image, #adminmenu #toplevel_page_woocommerce div.wp-menu-image{background: url(../images/zurpay-icons.png) no-repeat;} 

#adminmenu #toplevel_page_woocommerce div.wp-menu-image{background-position: -43px 2px;}
/*for wordpress icon*/
.icon16.icon-dashboard, .menu-icon-dashboard div.wp-menu-image, .icon16.icon-post, .menu-icon-post div.wp-menu-image, .icon16.icon-media, .menu-icon-media div.wp-menu-image, .icon16.icon-links, .menu-icon-links div.wp-menu-image, .icon16.icon-page, .menu-icon-page div.wp-menu-image, .icon16.icon-comments, .menu-icon-comments div.wp-menu-image, .icon16.icon-appearance, .menu-icon-appearance div.wp-menu-image, .icon16.icon-plugins, .menu-icon-plugins div.wp-menu-image, .icon16.icon-users, .menu-icon-users div.wp-menu-image, .icon16.icon-tools, .menu-icon-tools div.wp-menu-image, .icon16.icon-settings, .menu-icon-settings div.wp-menu-image, .icon16.icon-site, .menu-icon-site div.wp-menu-image{background:url(../images/zurpay-icons.png) no-repeat;}

/*shop active*/
#adminmenu #toplevel_page_woocommerce.wp-menu-open div.wp-menu-image, #adminmenu #toplevel_page_woocommerce:hover div.wp-menu-image { background-position: -43px -25px;}

/*product inactive*/
#adminmenu #menu-posts-product div.wp-menu-image{background-position: -218px 3px;}

/*product active*/
#adminmenu #menu-posts-product.wp-menu-open div.wp-menu-image, #adminmenu #menu-posts-product:hover div.wp-menu-image{ background-position: -218px -24px; }

/*dashboard inactive*/
.icon16.icon-dashboard, #adminmenu .menu-icon-dashboard div.wp-menu-image{background-position: 0px 3px; }

/*dashboard active*/
#adminmenu .menu-icon-dashboard:hover div.wp-menu-image, #adminmenu .menu-icon-dashboard.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-dashboard.current div.wp-menu-image{ background-position: 0px -24px }

/*profile inactive*/
.icon16.icon-users, #adminmenu .menu-icon-users div.wp-menu-image{background-position: -608px 3px;}

/*profile active */

#adminmenu .menu-icon-users:hover div.wp-menu-image, #adminmenu .menu-icon-users.wp-has-current-submenu div.wp-menu-image, #adminmenu .menu-icon-users.current div.wp-menu-image {background-position: -608px -24px; }